.header {
  height: 70px;
  background-color: var(--color-grey-100);
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  z-index: 999;
}

.header,
.header div {
  display: flex;
  align-items: center;
}

.header div {
  justify-content: space-between;
}

.icon {
  width: 25px;
}

.icon i {
  font-size: 20px;
  z-index: 999;
}
