.tag {
  width: fit-content;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.4rem 1.2rem;
  border-radius: 100px;
}

.tag-blue {
  color: #1d4ed8;
  background-color: #bfdbfe;
}

.tag-green {
  color: #15803d;
  background-color: #bbf7d0;
}

.tag-silver {
  color: #3f3f46;
  background-color: #e5e7eb;
}
