.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.toggle {
  background: none;
  border: none;
  padding: 0.4rem;
  border-radius: var(--border-radius-sm);
  transform: translateX(0.8rem);
  transition: all 0.2s;
  -webkit-border-radius: var(--border-radius-sm);
  -moz-border-radius: var(--border-radius-sm);
  -ms-border-radius: var(--border-radius-sm);
  -o-border-radius: var(--border-radius-sm);
}

.toggle:hover {
  background-color: var(--color-grey-100);
}

.toggle i {
  width: 2.4rem;
  height: 2.4rem;
  color: var(--color-grey-700);
  cursor: pointer;
}

.list {
  position: fixed;

  background-color: var(--color-grey-0);
  box-shadow: var(--shadow-md);
  border-radius: var(--border-radius-md);
  width: fit-content;
}

.menus-button {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  padding: 1.2rem 2.4rem;
  font-size: 1.4rem;
  transition: all 0.2s;

  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.menus-button:hover {
  background-color: var(--color-grey-50);
}

.menus-button svg {
  width: 1.6rem;
  height: 1.6rem;
  color: var(--color-grey-400);
  transition: all 0.3s;
}
