.dashboard-box,
.sales-chart {
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.dashboard-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 34rem auto;
  gap: 2.4rem;
}

.chart-box {
  padding: 2.4rem 3.2rem;
  grid-column: 3 / span 2;
}

.chart-box .recharts-pie-label-text {
  font-weight: 600;
}

.chart-box > *:first-child {
  margin-bottom: 1.6rem;
}

.stat {
  padding: 1.6rem;
  display: grid;
  grid-template-columns: 6.4rem 1fr;
  grid-template-rows: auto auto;
  column-gap: 1.6rem;
  row-gap: 0.4rem;
}

.icon {
  grid-row: 1 / -1;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon i {
  font-size: 25px;
}

.title {
  align-self: end;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  font-weight: 600;
  color: var(--color-grey-500);
}

.value {
  font-size: 2.4rem;
  line-height: 1;
  font-weight: 500;
  /* color: var(--color-grey-600); */
}

.sales-chart {
  grid-column: 1 / -1;
}

.sales-chart .recharts-cartesian-grid-horizontal line,
.sales-chart .recharts-cartesian-grid-vertical line {
  stroke: var(--color-grey-300);
}
