.error-fallback {
  height: 100vh;
  background-color: var(--color-grey-50);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4.8rem;
}

.box {
  background-color: var(--color-grey-0);
  border: 1px solid var(--color-grey-100);
  border-radius: var(--border-radius-md);

  padding: 4.8rem;
  flex: 0 1 96rem;
  text-align: center;
}
.box h1 {
  margin-bottom: 1.6rem;
}

.box p {
  font-family: "Sono";
  margin-bottom: 3.2rem;
  color: var(--color-grey-500);
}
