.list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.navLink:link,
.navLink:visited {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  color: var(--color-grey-600);
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1.2rem 2.4rem;
  transition: all 0.3s;
}

.navLink:hover,
.navLink:visited,
.navLink:link,
.navLink:active {
  color: var(--color-grey-800);
  background-color: var(--color-grey-50);
  border-radius: var(--border-radius-sm);
}

.navLink i {
  width: 2.4rem;
  height: 2.4rem;
  color: var(--color-grey-400);
  transition: all 0.3s;
}

.navLink:hover i,
.navLink:active i,
.navLink.active:link i,
.navLink.active:visited i {
  color: var(--color-brand-600);
}
