.select {
  font-size: 1.4rem;
  padding: 0.8rem 1.2rem;
  border: 1px solid;

  border-radius: var(--border-radius-sm);
  background-color: var(--color-grey-0);
  font-weight: 500;
  box-shadow: var(--shadow-sm);
}

.styled-select.white {
  border: 1px solid var(--color-grey-100);
}
