.form-row {
  display: grid;
  align-items: center;
  padding: 1.2rem 0;
}

.form-row.vertical {
  grid-template-columns: 1fr;
  gap: 0.8rem;
}

.form-row.horizontal {
  grid-template-columns: 24rem 1fr 1.2fr;
  gap: 2.4rem;
}

.form-row:not(:last-child) {
  border-bottom: 1px solid var(--color-grey-100);
}

.form-row.horizontal:has(button) {
  display: flex;
  justify-content: flex-end;
  gap: 1.2rem;
}

.label {
  font-weight: 500;
}

.error {
  font-size: 1.4rem;
  color: var(--color-red-700);
}
