.app > main {
  background-color: var(--color-grey-50);
  padding: 4rem 6.4rem;
}

.overLay {
  height: 0;
  width: 0;
  position: fixed;
  top: 70px;
  left: 0;
  background-color: var(--backdrop-color);
  backdrop-filter: blur(4px);
}

.overLay.active {
  height: calc(100dvh - 70px);
  width: 100%;
}
