@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    &,
    &.light-mode {
      /* Grey */
      --color-grey-0: #fff;
      --color-grey-50: #f3f4f6;
      --color-grey-200: #e5e7eb;
      --color-grey-300: #d1d5db;
      --color-grey-400: #9ca3af;
      --color-grey-500: #6b7280;
      --color-grey-600: #4b5563;
      --color-grey-700: #374151;
      --color-grey-800: #1f2937;
      --color-grey-900: #111827;
    }

    &.dark-mode {
      --color-grey-0: #18212f;
      --color-grey-50: #111827;
      --color-grey-100: #1f2937;
      --color-grey-200: #374151;
      --color-grey-300: #4b5563;
      --color-grey-400: #6b7280;
      --color-grey-500: #9ca3af;
      --color-grey-600: #d1d5db;
      --color-grey-700: #e5e7eb;
      --color-grey-800: #f3f4f6;
      --color-grey-900: #f9fafb;
    }

    --purple: #a729f5;

    /* Indigo */
    --color-brand-50: #eef2ff;
    --color-brand-100: #e0e7ff;
    --color-brand-200: #c7d2fe;
    --color-brand-500: #6366f1;
    --color-brand-600: #4f46e5;
    --color-brand-700: #4338ca;
    --color-brand-800: #3730a3;
    --color-brand-900: #312e81;
  }
}

@layer components {
  .input {
    @apply w-full rounded-md border-[2px] border-colorGrey bg-colorGrey p-[7px] text-textColor outline-none transition-all placeholder:text-sm focus:border-colorBrand;
  }
}

.links-list ul li > a.active {
  background-color: var(--color-brand-700);
  color: #e5e7eb;
}

/* scrollbar Syles */
*::-webkit-scrollbar {
  width: 5px;
  width: 5px;
}
*::-webkit-scrollbar-track {
  background-color: var(--color-grey-0);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-brand-600);
}

/* Vertical scrollbar */
*::-webkit-scrollbar:vertical {
  width: 10px;
}
