.checkin-booking {
  padding: 10px;
  margin: 20px 0;
  background-color: var(--color-grey-100);
}

.today {
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  grid-column: 1 / span 2;
  padding-top: 2.4rem;
  background-color: var(--color-grey-0);
}

.today-list {
  overflow: auto;
  overflow-x: hidden;
}

.today-list ::-webkit-scrollbar {
  width: 0 !important;
}

.no-activity {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 0.8rem;
}

.today-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  font-size: 1.4rem;
  padding: 0.8rem 0;
  border-bottom: 1px solid var(--color-grey-100);
}

.today-item :first-child {
  border-top: 1px solid var(--color-grey-100);
}

.guest {
  font-weight: 500;
}
